---
layout: default
---

{% include header.html %}

<div class="inventory-container showHere">

  <section class="inventory home-section" id="inventory">
    <div class="container">

      <h1 class="section-title is-white showHere">Featured Inventory</h1>

      <div class="featured-inventory-list row">

        {% for post in site.categories.front %}

        <div class="col-sm-4 wow fadeInUp animated">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <div class="vehicle-card">
              <img class="vehicle-image" src="{{site.baseurl}}/{{post.cover-image}}" alt="{{post.title}}">
              <div class="vehicle-text-wrapper">
                <h2 class="vehicle-model">{{ post.title | escape }}</h2>
                <p class="vehicle-miles">{{ post.miles }} Miles</p>
                <p class="vehicle-price">${{ post.price }}</p>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}

      </div>
    </div>
  </section>

</div>

<div class="sections-wrapper">

  <section id ="search" class="home-section search-box">
    <div class="container">
      <h1 class="section-title">Search for a Vehicle</h1>

      <p>You can search through our inventory using the search box below. Type model, brand or year of the vehicle your looking for:</p>

      <div id="search-demo-container">
        <input type="text" id="search-input" placeholder="Search for a model or year">
        <h4 class="search-results-lead">(Results in our inventory will appear below)</h4>
        <ul id="results-container"></ul>
      </div>
    </div>
  </section>

  <section id ="directions" class="home-section directions">
    <div class="container">
      <h1 class="section-title">Directions</h1>
      <p>Find us in the following address:</p>

      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.947167404967!2d-81.55075628518308!3d28.691226982394678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e79e7780cfff27%3A0x1793a7bb2701ccca!2s2385+W+Orange+Blossom+Trail%2C+Apopka%2C+FL+32712!5e0!3m2!1sen!2sus!4v1483839805065" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <section id ="contact" class="home-section contact">
    <div class="container">
      <h1 class="section-title">Contact Us</h1>
      <p>Our phone number is <strong>(407 - 814.0607)</strong> and our e-mail address is <strong><a href="mailto:contact@perfectcarsales.com?Subject=Contact">contact@perfectcarsales.com</a></strong>. <br><br> You can write us in following form:</p>

      <form action="https://formspree.io/perfectcarapopka@gmail.com" method="POST" class="home-section contact-form">
        <div class="row">
          <div class="col-md-6">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name">
          </div>
          <div class="col-md-6">
            <label for="email">E-mail</label>
            <input type="text" type="email" name="_replyto" placeholder="Email">
          </div>
          <div class="col-md-12">
            <label for="subject">Subject</label>
            <input type="text" name="subject" placeholder="Subject">
            <label for="message">Your message</label>
            <textarea name="message" placeholder="Message"></textarea>
            <input class="submit-btn" type="submit" value="Send">
          </div>
        </div>
      </form>
    </div>
  </section>

  <section id ="subscribe" class="home-section subscribe">
    <div class="container">

      <h1 class="section-title">Subscribe</h1>
      <p>Subscribe to our newsletter to recive news and information on your e-mail inbox.</p>

      <div id="mc_embed_signup">
        <form action="//perfectcarsales.us14.list-manage.com/subscribe/post?u=92d92a871f4a9159db42091cb&amp;id=d2eb31474f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate class="contact-form">
          <div class="row">
            <div class="col-md-3">
              <input type="text" value="" name="FNAME" id="mce-FNAME" placeholder="First Name">
            </div>
            <div class="col-md-3">
              <input type="text" value="" name="LNAME" placeholder="Last Name">
            </div>
            <div class="col-md-3">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-mail Address">
            </div>
            <div class="col-md-3">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit-btn is-wide" type="submit" value="Subscribe">
            </div>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
        </form>
      </div>

    </div>
  </section>

</div>
