---
layout: default
---

<div class="inventory-container showHere">

  <section class="container inventory" id="inventory">

    <h1 class="section-title">Featured Inventory</h1>

    <div class="featured-inventory-list row">

      {% for post in site.posts %}

      <div class="col-xs-4 wow fadeInUp animated">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div class="vehicle-card">
            <img class="vehicle-image" src="{{site.baseurl}}/{{post.cover-image}}" alt="{{post.title}}">
            <div class="vehicle-text-wrapper">
              <h2 class="vehicle-model">{{ post.title | escape }}</h2>
              <p class="vehicle-miles">{{ post.miles }} Miles</p>
              <p class="vehicle-price">${{ post.price }}</p>
            </div>
          </div>
        </a>
      </div>

      {% endfor %}

    </div>

  </section>

  {% include footer.html %}

</div>
