---
layout: default
---

<div class="inventory-container showHere">

  <section class="container inventory">

    <h1 class="section-title">Featured Inventory</h1>

    <div class="featured-inventory-list row">

      {% for post in site.posts %}

      <div class="col-xs-4">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div class="vehicle-card">
            <img class="vehicle-image" src="{{site.baseurl}}/{{post.cover-image}}" alt="{{post.title}}">
            <div class="vehicle-text-wrapper">
              <h2 class="vehicle-model">{{ post.title | escape }}</h2>
              <p class="vehicle-miles">{{ post.miles }} Miles</p>
              <p class="vehicle-price">${{ post.price }}</p>
            </div>
          </div>
        </a>
      </div>

      {% endfor %}

    </div>

  </section>

</div>

<!-- <ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
      </h2>
    </li>
  {% endfor %}
</ul> -->
