<header class="main-header animated fadeIn">

  <div class="container header-container">
    <a href="{{ site.baseurl }}/">
      <div class="logo-wrapper">
        <img class="main-logo" src="{{site.baseurl}}/assets/images/perfect-car-logo.png" alt="">
        <h1 class="main-title">Perfect Car <span>Corp.</span></h1>
      </div>
      <ul class="main-menu">
        {% include menu-list.html %}
      </ul>
    </a>
  </div>

  <a href="#inventory">
    <div class="header-arrow-down"></div>
  </a>

  <form action="http://www.google.com/translate" >
    <script language="JavaScript">
    <!--
    document.write ("<input name=u value="+location.href+" type=hidden>")
    // -->
    </script>

    <input name="hl" value="en" type="hidden">
    <input name="ie" value="UTF8" type="hidden">
    <input name="langpair" value="" type="hidden">
    <input class="lang-btn" name="langpair" value="en|es" onclick="this.form.langpair.value=this.value" type="image">
  </form>

</header>

<button class="mobile-menu-btn"></button>
