<header class="main-header animated fadeIn">

  <div class="container header-container">
    <a href="{{ site.baseurl }}/">
      <div class="logo-wrapper">
        <img class="main-logo" src="{{site.baseurl}}/assets/images/perfect-car-logo.png" alt="">
        <h1 class="main-title">Perfect Car <span>Corp.</span></h1>
      </div>
      <ul class="main-menu">
        {% include menu-list-es.html %}
      </ul>
    </a>
  </div>

  <a href="#inventory">
    <div class="header-arrow-down"></div>
  </a>

</header>

<button class="mobile-menu-btn"></button>
<a href="{{ site.baseurl }}/index.html" class="lang-btn lang-usa"></a>
