<li class="main-menu-link is-active"><a href="{{ site.baseurl }}/"><span data-hover="Home">Home</span></a></li>
<li class="main-menu-link"><a href="{{ site.baseurl }}/inventory"><span data-hover="Inventory">Inventory</span></a></li>
<li class="main-menu-link"><a href="{{site.baseurl}}/#search"><span data-hover="Search">Search</span></a></li>
<li class="main-menu-link"><a href="{{ site.baseurl }}/#directions"><span data-hover="Directions">Directions</span></a></li>
<li class="main-menu-link"><a href="{{ site.baseurl }}/#contact"><span data-hover="Contact Us">Contact Us</span></a></li>
<li class="main-menu-link"><a href="{{ site.baseurl }}/#subscribe"><span data-hover="Subscribe">Subscribe</span></a></li>
