<li class="main-menu-link is-active"><a href="{{ site.baseurl }}/"><span data-hover="Home">Home</span></a></li>
<li class="main-menu-link"><a href="#inventory"><span data-hover="Featured Inventory">Featured Inventory</span></a></li>
<li class="main-menu-link"><a href="{{site.baseurl}}/#search"><span data-hover="Search">Search</span></a></li>
<li class="main-menu-link"><a href="#directions"><span data-hover="Directions">Directions</span></a></li>
<li class="main-menu-link"><a href="#contact"><span data-hover="Contact Us">Contact Us</span></a></li>
<li class="main-menu-link"><a href="#subscribe"><span data-hover="Subscribe">Subscribe</span></a></li>
