<li class="main-menu-link is-active"><a href="{{ site.baseurl }}/"><span data-hover="Inicio">Inicio</span></a></li>
<li class="main-menu-link"><a href="{{ site.baseurl }}/inventory"><span data-hover="Inventario">Inventario</span></a></li>
<li class="main-menu-link"><a href="{{ site.baseurl }}/es/#busqueda"><span data-hover="Buscar">Buscar</span></a></li>
<li class="main-menu-link"><a href="{{ site.baseurl }}/es/#direccion"><span data-hover="Dirección">Dirección</span></a></li>
<li class="main-menu-link"><a href="{{ site.baseurl }}/es/#contacto"><span data-hover="Contacto">Contacto</span></a></li>
<li class="main-menu-link"><a href="{{ site.baseurl }}/es/#subscribirse"><span data-hover="Suscribirse">Suscribirse</span></a></li>
