---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Fonts

@import url('https://fonts.googleapis.com/css?family=Roboto')

@font-face
  font-family: 'Myriad Web Pro'
  src: url('../fonts/MyriadWebPro-Bold.eot')
  src: url('../fonts/MyriadWebPro-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/MyriadWebPro-Bold.woff') format("woff"), url('../fonts/MyriadWebPro-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal

@font-face
  @font-face
  font-family: 'League Gothic'
  src: url('../fonts/LeagueGothic-Regular.eot')
  src: url('../fonts/LeagueGothic-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/LeagueGothic-Regular.woff') format("woff"), url('../fonts/LeagueGothic-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'League Gothic'
  src: url('../fonts/LeagueGothic-Italic.eot')
  src: url('../fonts/LeagueGothic-Italic.eot?#iefix') format("embedded-opentype"), url('../fonts/LeagueGothic-Italic.woff') format("woff"), url('../fonts/LeagueGothic-Italic.ttf') format("truetype")
  font-weight: normal
  font-style: italic


body
  background-color: black
  color: white
  margin: 0
  font-family: 'Roboto', sans-serif

  &.menu-is-open
    overflow: hidden
    position: fixed
    width: 100%

a, a:focus, a:hover
  color: inherit
  text-decoration: none

ul
  list-style: none
  margin: 0
  padding: 0

li
  display: inline-block

// Header

.main-header
  height: 100vh
  background-image: url('../images/bg-header.png')
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  position: relative
  display: flex
  align-items: center
  color: white
  @media (max-width: 992px)
    height: 60vh
  @media (max-width: 767px)
    height: 255px

.main-header--clone
  position: fixed
  z-index: 1
  bottom: 0
  left: 0
  height: 80px
  width: 100%
  background: #176fc0
  color: white
  transform: translateY(-100%)
  transition: all 300ms ease-in-out
  display: none
  background-image: url('../images/bg-interior-header.png')
  background-size: cover
  background-color: #10258E
  color: white
  border-top: 2px solid black
  @media (max-width: 992px)
    margin-top: 0

  .main-title
    opacity: 0
    transition: opacity 300ms ease-in-out

  .main-logo
    width: 60px

  .header-phone
    display: none

  .header-arrow-down
    display: none

  .logo-wrapper
    padding: 0
    margin-top: 10px
    position: relative
    bottom: 5px
    display: inline-block

  .main-title
    display: none

  .main-menu
    float: right
    position: static
    padding-top: 23px
    @media (max-width: 992px)
      margin-top: 30px
      font-size: 18px

.main-header--stick
  display: block
  transform: translateY(0%)

  @media (max-width: 767px)
    display: none

.header-arrow-down
  display: block
  width: 65px
  height: 65px
  background-image: url('../images/arrow-down.svg')
  background-repeat: no-repeat
  background-position: center center
  position: absolute
  bottom: 50px
  left: 50%
  transition: transform 300ms ease-in-out
  @media (max-width: 992px)
    display: none

  &:hover
    transform: translateY(5px)

.logo-wrapper
  padding-bottom: 50px
  @media (max-width: 992px)
    text-align: center
    padding-bottom: 0
    margin-top: 15px

.main-logo
  display: inline-block
  @media (max-width: 767px)
    width: 80px

.main-title
  font-size: 45px
  display: inline-block
  text-transform: uppercase
  max-width: 250px
  margin-left: 20px
  font-family: 'Myriad Web Pro'
  vertical-align: middle
  @media (max-width: 767px)
    margin-top: 20px
    font-size: 25px
    margin-left: 0

  span
    font-size: 25px
    margin-left: 10px

.main-menu
  font-family: 'League Gothic'
  font-size: 20px
  letter-spacing: 1.5px
  position: relative
  z-index: 1
  text-transform: uppercase
  position: relative
  left: 33px
  top: 35px
  @media (max-width: 992px)
    position: static
    text-align: center
    margin-top: 100px
  @media (max-width: 767px)
    display: none

.main-menu-link
  display: inline-block
  overflow: hidden
  text-transform: uppercase
  &:active, &:focus
    color: white
  @media (max-width: 767px)
    display: block

.main-menu-link a span
  position: relative
  display: inline-block
  transition: transform 0.3s
  &:active, &:focus
    color: white

.main-menu-link a span::before
  color: #FFB91B
  position: absolute
  top: 100%
  content: attr(data-hover)
  font-weight: 700
  transform: translate3d(0,0,0)

.main-menu-link a:hover span,
.main-menu-link a:focus span
  transform: translateY(-100%)

.main-menu-link + .main-menu-link
  margin-left: 30px
  @media (max-width: 767px)
    margin-left: 0

.mobile-menu
  height: 0
  width: 100%
  background-color: black
  color: white
  z-index: 2
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  opacity: 0
  transition: opacity 300ms ease-in-out
  pointer-events: none

  &.is-open
    display: flex
    opacity: 1
    pointer-events: auto
    height: 100vh

  .main-menu-link
    margin-bottom: 40px
    font-size: 20px
    font-weight: bold
    font-family: 'League Gothic'
    letter-spacing: 4px

.mobile-menu-btn
  position: absolute
  top: 20px
  left: 20px
  height: 30px
  width: 30px
  background-color: transparent
  background-image: url('../images/mobile-menu-btn.svg')
  background-size: contain
  background-repeat: no-repeat
  background-position: center center
  border: 0
  z-index: 3
  outline: 0 !important
  cursor: pointer
  display: none

  @media (max-width: 767px)
    display: block

  &.is-open
    background-image: url('../images/mobile-menu-close.svg')


// Sections

.home-section
  padding: 40px 0

.sections-wrapper
  background-color: #F5F5F5
  color: black

.map-container
  text-align: center
  border: 1px solid #B2B2B2

.map-container iframe
  pointer-events: none

.section-title
  display: inline-block
  font-family: 'League Gothic'
  font-style: italic
  font-size: 37px
  font-weight: lighter
  border-bottom: 4px solid #FA1421
  padding-bottom: 9px
  letter-spacing: 1px
  margin-bottom: 40px
  @media (max-width: 767px)
    width: 76%
    font-size: 28px
    text-align: center
    display: block
    margin: 0 auto 40px auto

  &.is-white
    color: white
    border-color: white

.inventory-container
  background-image: linear-gradient(-180deg, #000000 0%, #0E143D 100%)

.vehicle-card
  background-color: white
  color: black
  min-height: 350px
  max-height: 350px
  position: relative
  margin-bottom: 40px
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15)
  transition: transform .5s
  transition-timing-function: cubic-bezier(.4,0,.5,1)
  -webkit-backface-visibility: hidden
  @media (max-width: 992px)
    min-height: 270px

  &:hover
    text-decoration: none
    transform: scale(1.03)
    -webkit-backface-visibility: hidden

.vehicle-image
  width: 100%
  height: auto
  max-height: 185px
  @media (max-width: 992px)
    max-height: 150px

.vehicle-text-wrapper
  padding: 0 10px

.vehicle-model
  font-size: 20px
  margin-bottom: 5px
  margin: 15px 0

.vehicle-miles
  font-size: 16px
  font-style: italic
  margin: 0

.vehicle-price
  background-color: #FA1421
  color: white
  display: inline-block
  padding: 5px 15px
  position: absolute
  margin: 0
  bottom: 10px
  right: 10px

.car-title
  display: inline-block
  font-family: 'League Gothic'
  font-style: italic
  font-size: 37px
  font-weight: lighter
  border-bottom: 4px solid white
  padding-bottom: 9px
  letter-spacing: 1px
  margin-bottom: 40px

.vehicle-image-interior
  width: 100%
  height: auto

.information-section
  padding-top: 40px
  padding-bottom: 90px
  background-color: white
  @media (max-width: 992px)
    padding-top: 30px
    padding-bottom: 50px
  @media (max-width: 992px)
    padding-top: 5px

.information-title
  @media (max-width: 992px)
    font-size: 18px

.information-box
  border: 1px dashed black
  text-align: center
  padding: 15px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  @media (max-width: 767px)
    margin-top: 20px

.information-data
  margin: 0
  font-size: 20px

.interior-page
  color: black
  padding-top: 150px

  .header-phone
    display: none

  @media (max-width: 767px)
    padding-top: 0

  .main-header
    position: relave
    height: 150px
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 2
    background-image: url('../images/bg-interior-header.png')
    background-size: cover
    background-color: #10258E
    color: white
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15)
    transition: all 100ms ease-in-out
    @media (max-width: 767px)
      background-image: url('../images/bg-header.png')
      position: static
      height: 255px


    &.is-scrolling
      height: 80px
      transition: all 300ms ease-in-out

      .main-title
        opacity: 0
        transition: opacity 300ms ease-in-out

      .main-logo
        width: 60px

      .main-menu
        top: 30px

  .logo-wrapper
    padding: 0
    margin-top: 10px
    position: relative
    bottom: 5px
    display: inline-block

  .main-title
    @media (max-width: 992px)
      display: none
    @media (max-width: 767px)
      font-size: 20px
      display: block
      margin-top: 5px
      span
        font-size: 20px

  .main-logo
    width: 100px
    display: inline-block
    transition: all 300ms ease-in-out
    @media (max-width: 992px)
      width: 70px

  .main-menu
    position: static
    position: absolute
    top: 60px
    right: 30px
    left: inherit
    @media (max-width: 992px)
      font-size: 20px
      margin-top: 0

  .header-arrow-down
    display: none

.car-notes
  line-height: 2.5
  font-size: 17px
  img
    max-width: 100%
    margin-bottom: 30px
    width: 100%

// Search Box

.search-box
  .section-title:first-child
    margin-top: 0

.search-results-lead
  text-align: center
  margin-top: 20px
  margin-bottom: 20px
  font-size: 16px
  font-style: italic

#search-demo-container
  max-width: 40em
  padding: 1em
  margin: 1em auto

#search-input
  display: inline-block
  padding: 35px
  width: 100%
  font-size: 0.8em
  box-sizing: border-box
  border-color: transparent
  outline-color: #10258E
  border-radius: 50px
  border: 1px solid #B2B2B2
  margin-bottom: 0
  font-size: 18px

  &:focus
    outline: none

#results-container
  margin-top: 10px
  background-color: white
  color: black
  // border: 1px solid #B2B2B2

  li
    margin: 20px 10px
    font-weight: bold
    display: block
    margin-top: 0
    padding-top: 10px
    padding-bottom: 10px
    &:hover
      background-color: #10258E
      color: white
    &::before
      content: ''
      display: inline-block
      height: 10px
      width: 10px
      background-color: #10258E
      vertical-align: middle
      margin-right: 10px

.directions
  background-color: #E9E9E9
  .section-title:first-child
    margin-top: 0

// Footer

.main-footer
  text-align: center
  height: 200px
  display: flex
  align-items: center
  justify-content: center
  color: white
  padding-bottom: 80px
  @media (max-width: 767px)
    padding-bottom: 0

.footer-text
  border: 1px dashed white
  padding: 20px 50px
  margin-bottom: 0

  // Contact format

.contact
  padding-bottom: 40px

  strong
    color: #10258E

input
  display: block
  height: 50px
  width: 100%
  margin-bottom: 40px
  padding-left: 10px
  border-radius: 5px
  border: 1px solid #B2B2B2

  &:focus
    outline: none

textarea
  width: 100%
  resize: none
  height: 150px
  margin-bottom: 40px
  border-radius: 5px
  padding-left: 10px
  padding-top: 10px
  border: 1px solid #B2B2B2

  &:focus
    outline: none

.submit-btn
  width: 50%
  background-color: #FA1421
  color: white
  border: 0
  display: block
  margin: 0 auto
  cursor: pointer
  transition: background-color 300ms ease-in-out

  &:hover
    background-color: lighten(#FA1421, 10%)

  @media (max-width: 767px)
    width: 100%

  &.is-wide
    width: 100%

.subscribe
  background-color: #E9E9E9
  input
    display: inline-block
  .submit-btn
    display: inline-block

.lang-btn
  position: absolute
  top: 60px
  right: 100px
  height: 27px
  width: 40px
  text-indent: -9999px
  padding: 0
  border: 0
  outline: 0
  border-radius: 0
  color: transparent
  background-image: url('../images/spanish-flag.png')
  background-size: cover
  margin: 0

  &.lang-usa
    background-image: url('../images/usa-flag.png')

  @media (max-width: 992px)
    right: 40px
    top: 40px

  @media (max-width: 767px)
    right: 20px
    top: 24px
    width: 30px
    height: 20px

.header-phone-mobile
  display: none
  font-family: 'League Gothic'
  margin-top: 10px
  font-style: italic
  letter-spacing: 5px
  text-align: center
  @media (max-width: 767px)
    display: block
  &::before
    content: ''
    display: inline-block
    background-image: url('../images/phone-icon.png')
    background-size: contain
    background-repeat: no-repeat
    width: 30px
    height: 20px
    vertical-align: middle
    position: relative
    bottom: 2px

.header-phone
  font-size: 30px
  font-style: italic
  font-family: 'League Gothic'
  letter-spacing: 5px
  position: absolute
  top: 60px
  left: 100px
  @media (max-width: 992px)
    left: 40px
    font-size: 18px
  @media (max-width: 767px)
    display: none

  &::before
    content: ''
    display: inline-block
    background-image: url('../images/phone-icon.png')
    background-size: contain
    background-repeat: no-repeat
    width: 55px
    height: 38px
    vertical-align: middle
    position: relative
    bottom: 2px
