---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Fonts

@import url('https://fonts.googleapis.com/css?family=Roboto')

@font-face
  font-family: 'Myriad Web Pro'
  src: url('../fonts/MyriadWebPro-Bold.eot')
  src: url('../fonts/MyriadWebPro-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/MyriadWebPro-Bold.woff') format("woff"), url('../fonts/MyriadWebPro-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal

@font-face
  @font-face
  font-family: 'League Gothic'
  src: url('../fonts/LeagueGothic-Regular.eot')
  src: url('../fonts/LeagueGothic-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/LeagueGothic-Regular.woff') format("woff"), url('../fonts/LeagueGothic-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'League Gothic'
  src: url('../fonts/LeagueGothic-Italic.eot')
  src: url('../fonts/LeagueGothic-Italic.eot?#iefix') format("embedded-opentype"), url('../fonts/LeagueGothic-Italic.woff') format("woff"), url('../fonts/LeagueGothic-Italic.ttf') format("truetype")
  font-weight: normal
  font-style: italic


body
  background-color: black
  color: white
  margin: 0
  font-family: 'Roboto', sans-serif

  &.menu-is-open
    overflow: hidden
    position: fixed
    width: 100%

a, a:focus, a:hover
  color: inherit
  text-decoration: none

ul
  list-style: none
  margin: 0
  padding: 0

li
  display: inline-block

// Header

.main-header
  height: 100vh
  background-image: url('../images/bg-header.png')
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  position: relative
  display: flex
  align-items: center
  @media (max-width: 992px)
    height: 60vh
  @media (max-width: 767px)
    height: 255px

.header-arrow-down
  display: block
  width: 65px
  height: 65px
  background-image: url('../images/arrow-down.svg')
  background-repeat: no-repeat
  background-position: center center
  position: absolute
  bottom: 50px
  left: 50%
  transition: transform 300ms ease-in-out
  @media (max-width: 992px)
    display: none

  &:hover
    transform: translateY(5px)

.logo-wrapper
  padding-bottom: 50px
  @media (max-width: 992px)
    text-align: center
    padding-bottom: 0

.main-logo
  display: inline-block
  @media (max-width: 767px)
    width: 80px

.main-title
  font-size: 45px
  display: inline-block
  text-transform: uppercase
  max-width: 250px
  margin-left: 20px
  font-family: 'Myriad Web Pro'
  vertical-align: middle
  @media (max-width: 767px)
    margin-top: 20px
    font-size: 25px
    margin-left: 0

  span
    font-size: 25px
    margin-left: 10px

.main-menu
  font-family: 'League Gothic'
  font-size: 20px
  letter-spacing: 1.5px
  position: relative
  z-index: 1
  text-transform: uppercase
  position: relative
  left: 33px
  top: 35px
  @media (max-width: 767px)
    display: none

.main-menu-link
  display: inline-block
  overflow: hidden
  text-transform: uppercase
  @media (max-width: 767px)
    display: block

.main-menu-link a span
  position: relative
  display: inline-block
  transition: transform 0.3s

.main-menu-link a span::before
  color: #FFB91B
  position: absolute
  top: 100%
  content: attr(data-hover)
  font-weight: 700
  transform: translate3d(0,0,0)

.main-menu-link a:hover span,
.main-menu-link a:focus span
  transform: translateY(-100%)

.main-menu-link + .main-menu-link
  margin-left: 30px
  @media (max-width: 767px)
    margin-left: 0


.mobile-menu
  height: 0
  width: 100%
  background-color: black
  z-index: 2
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  opacity: 0
  transition: opacity 300ms ease-in-out
  pointer-events: none

  &.is-open
    display: flex
    opacity: 1
    pointer-events: auto
    height: 100vh

  .main-menu-link
    margin-bottom: 40px
    font-size: 20px
    font-weight: bold
    font-family: 'League Gothic'
    letter-spacing: 4px

.mobile-menu-btn
  position: absolute
  top: 20px
  left: 20px
  height: 30px
  width: 30px
  background-color: transparent
  background-image: url('../images/mobile-menu-btn.svg')
  background-size: contain
  background-repeat: no-repeat
  background-position: center center
  border: 0
  z-index: 3
  outline: 0 !important
  cursor: pointer

  &.is-open
    background-image: url('../images/mobile-menu-close.svg')


// Sections

.section-title
  display: inline-block
  font-family: 'League Gothic'
  font-style: italic
  font-size: 37px
  font-weight: lighter
  border-bottom: 4px solid white
  padding-bottom: 9px
  letter-spacing: 1px
  margin: 40px 0
  @media (max-width: 767px)
    width: 76%
    font-size: 28px
    text-align: center
    display: block
    margin: 40px auto

.inventory-container
  background-image: linear-gradient(-180deg, #000000 0%, #0E143D 100%)

.vehicle-card
  background-color: white
  color: black
  min-height: 350px
  max-height: 350px
  position: relative
  margin-bottom: 40px
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15)
  transition: transform .5s
  transition-timing-function: cubic-bezier(.4,0,.5,1)
  -webkit-backface-visibility: hidden
  @media (max-width: 992px)
    min-height: 270px

  &:hover
    text-decoration: none
    transform: scale(1.03)
    -webkit-backface-visibility: hidden

.vehicle-image
  width: 100%
  height: auto

.vehicle-text-wrapper
  padding: 0 10px

.vehicle-model
  font-size: 20px
  margin-bottom: 5px
  margin: 15px 0

.vehicle-miles
  font-size: 16px
  font-style: italic
  margin: 0

.vehicle-price
  background-color: #FA1421
  color: white
  display: inline-block
  padding: 5px 15px
  position: absolute
  margin: 0
  bottom: 10px
  right: 10px

.car-title
  display: inline-block
  font-family: 'League Gothic'
  font-style: italic
  font-size: 37px
  font-weight: lighter
  border-bottom: 4px solid white
  padding-bottom: 9px
  letter-spacing: 1px
  margin-bottom: 40px

.vehicle-image-interior
  width: 100%
  height: auto

.information-section
  padding-top: 40px
  padding-bottom: 100px
  background-color: white

.information-box
  border: 1px dashed black
  text-align: center
  padding: 15px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.information-data
  margin: 0
  font-size: 20px

.interior-page
  background-color: #111B42
  color: black
  padding-top: 150px

  .main-header
    height: 150px
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 2
    background-image: url('../images/bg-interior-header.png')
    background-size: cover
    background-color: #10258E
    color: white
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15)
    transition: all 100ms ease-in-out

    &.is-scrolling
      height: 80px
      transition: all 300ms ease-in-out

      .main-title
        opacity: 0
        transition: opacity 300ms ease-in-out

      .main-logo
        width: 60px

  .logo-wrapper
    padding: 0
    margin-top: 10px
    position: relative
    bottom: 5px
    display: inline-block

  .main-logo
    width: 100px
    display: inline-block
    transition: all 300ms ease-in-out

  .main-menu
    float: right
    position: static
    margin-top: 45px

  .header-arrow-down
    display: none

.car-notes
  line-height: 2.5
  font-size: 17px

// Search Box

#search-demo-container
  max-width: 40em
  padding: 1em
  margin: 1em auto

#search-input
  display: inline-block
  padding: .5em
  width: 100%
  font-size: 0.8em
  box-sizing: border-box
  border-color: #10258E
  outline-color: #10258E

#results-container
  background-color: white
  color: black

  li
    margin: 20px 10px
    font-weight: bold
    display: block
    margin-top: 0
    padding-top: 10px
    padding-bottom: 10px
    &::before
      content: ''
      display: inline-block
      height: 10px
      width: 10px
      background-color: #10258E
      vertical-align: middle
      margin-right: 10px

// Footer

.main-footer
  text-align: center
  height: 200px
  display: flex
  align-items: center
  justify-content: center

.footer-text
  border: 1px dashed white
  padding: 20px 50px
