---
layout: default
---
<div class="container">

  <h2 class="car-title">{{ page.title }}</h2>

  <img class="vehicle-image-interior wow fadeInUp animated" src="{{site.baseurl}}/{{page.cover-image}}" alt="{{page.title}}">

  <section class="information-section row wow fadeInUp animated">

    <div class="col-xs-3">
      <div class="information-box">
        <h2>Price</h2>
        <p class="information-data">${{ page.price }}</p>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="information-box">
        <h2>Mileage</h2>
        <p class="information-data">{{ page.miles }}</p>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="information-box">
        <h2>Engine</h2>
        <p class="information-data">{{ page.engine }}</p>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="information-box">
        <h2>Transmission</h2>
        <p class="information-data">{{ page.transmission}}</p>
      </div>
    </div>

  </section>

<article class="post wow fadeInUp animated">

  <div class="entry">
    {{ content }}
  </div>

</article>

</div>
